.background {
    content: "";
    position: fixed;
    top: 0;
    left: 0; 
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url(../img/universe.jpg);
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.mybookmark{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.mybookmark ul{
  list-style-type: none;
}

.mybookmark li{
  margin-bottom: 10px
  
}

.mybookmark a {
  font-size: 20px;
  display: block;
  background-color: rgb(52, 206, 211);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
}

.mybookmark a:hover {
  background-color: #ffdc7b;
}

.mybookmark2 {
  background-color: #ffeebd;
  border-radius: 5px;
  display: none;
}

.mybookmark2 h2{
  font-size: 24px;
  padding-left: 8px;
  padding-top: 3px;
}

.mybookmark2 p{
  font-size: 16px;
  padding-left: 8px;
}

.mybookmark2 a {
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
}

.mybookmark2:target {
  display: block;
}

li:hover .mybookmark2 {
  display: block;
}



/* ******************************************************************************************** */
  #topMenu{
    height: 50px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }

  #topMenu ul {
    padding: 0;
    margin: 0;
    display: inline-block; /* 내부 요소들을 수평으로 표시 */
  }

  #topMenu li {
    border-radius: 8px;
    list-style: none;
    color:rgb(255, 232, 218);
    background-color: #1e2591;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
  }

  #topMenu .menuLink{
    text-decoration: none;
    color: rgb(255, 232, 218);
    display: block;
    width:300px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Trebuchet MS", 함초롱바탕;
  }

  #topMenu .menuLink:hover{
    border-radius: 8px;
    color: rgb(255, 232, 218);
    background-color: #cd7d7c;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer p:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
    margin-right: 15px;
  }

.my_li {
  background-color: aquamarine;
  border-radius: 5px;
  padding : 3px;
  list-style: none;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.my_li a{
  padding-left: 8px;
  padding-top: 5px;
  text-decoration: none;
  color: #000000;
}

.my_li p{
  padding-left: 5px;
}